.header {
  position: relative;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  &__info {
    position: relative;
    display: flex;
    align-items: center;

    border-radius: 100px;
    padding: 4px 20px 4px 4px;
    gap: 8px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
      );
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      padding: 1px;
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100px;
  }

  &__ava {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__welcome {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(49, 49, 49, 0.5);
    margin: 0;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #313131;
    margin: 0;
  }

  &__coin {
    position: relative;
    display: flex;
    align-items: center;

    border-radius: 100px;
    padding: 12px;
    gap: 8px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #313131;

    p {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.4) 100%
      );
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      padding: 1px;
    }
  }
}
