.header {
  position: relative;
  padding: 45px 15px 50px;
  background: url("../images/dist/header-bg.png") no-repeat center;
  z-index: 3;

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    text-decoration: none;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: white;
    color: #0d8eb8;
  }

  &__personal {
    color: white;
    font-size: 16px;
  }

  &__welcome {
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 4px;
  }

  &__name {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    color: #9ed2e3;
  }

  &__coin {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    padding: 8px;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 22px 22px 10px -20px rgba(255, 255, 255, 0.1),
      inset -17px -17px 10px -15px rgba(255, 255, 255, 0.1),
      inset 15px -15px 10px -15px rgba(255, 255, 255, 0.1),
      inset -15px 15px 10px -15px rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0 32px;
  }

  &__logo {
    position: absolute;
    width: 78px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
  }

  &__hamburger {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
}
