.page-profile-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 24px;
}

.page-head-btn-back {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  color: #313131;
  text-decoration: none;
  padding: 4px 12px 4px 8px;
  border-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
  }
}
.page-head-btn-image-upload {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background: #0d8eb8;
  backdrop-filter: blur(4px);
  color: #fff;
  text-decoration: none;
  padding: 4px 12px 4px 8px;
  border-radius: 12px;
  border: none;
}

.profile-avatar {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 24px auto;
  background-color: #1d1d1d;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }

  .percent {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    color: #fff;
  }

  input[type="file"] {
    display: none;
  }
}

.form-wrapper {
  position: relative;
  background: rgba(#fff, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 12px;
  padding: 20px 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.4) 100%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    padding: 1px;
  }
}

label.field-label {
  display: block;
  margin: 0 0 4px;
}

.field-wrapper {
  margin: 0 0 16px;

  .field {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #d5d5d5;
    background-color: #eceef2;
    color: #1d1d1d;
    text-indent: 15px;
    outline: none;
    font-size: 16px;
    -webkit-appearance: none; /* Chrome / Safari */
    -moz-appearance: none; /* Firefox */
    appearance: none;
    z-index: 2;
  }

  textarea {
    position: relative;
    background: #eceef2;
    border: none;
    border-radius: 10px;
    color: #1d1d1d;
    min-height: 90px;
    padding: 14px 10px;
    resize: none;
    width: 100%;
    z-index: 2;
    outline: none;
  }
}

.field-tarif {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 0 0 16px;
  .field-tarif-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #d5d5d5;
    background-color: #eceef2;
    color: #1d1d1d;
    outline: none;
    z-index: 2;

    &.active {
      color: #0d8eb8;
      background: #cfe8f1;
      border-radius: 12px;
      border: 1px solid #0d8eb8;
    }
  }
}

.form-btn {
  width: 100%;
  min-height: 40px;
  position: relative;
  color: white;
  background: #0d8eb8;

  border-radius: 12px;
  border: none;
  margin: 16px 0 0;
}
