.video-wrap {
  position: absolute;
  inset: 0;
  width: 390px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  background: #d9d9d9; /* чтобы не мигало белым */
  z-index: 1;
}

.video-wrap video {
  position: absolute;
  inset: 0;
  width: 390px;
  height: 500px;
  object-fit: cover; /* ключ — обрезать лишнее, без полос */
  object-position: center;
  transform: translateZ(0); /* сгладить глитчи на iOS */
}
.video-overlay-top {
  position: absolute;
  width: 390px;
  height: 196px;
  top: -97px;
  left: 0;
  right: 0;
  margin: 0 auto;

  background: linear-gradient(
    178.01deg,
    rgba(217, 217, 217, 0.8) 32.42%,
    rgba(30, 32, 36, 0) 94.04%
  );
  backdrop-filter: blur(2.15px);
  border-radius: 0px;
  z-index: 2;
}
.video-overlay-bottom {
  position: absolute;
  width: 390px;
  height: 500px;
  left: 0;
  right: 0;
  top: 110px;
  margin: 0 auto;

  background: linear-gradient(
    179.43deg,
    rgba(0, 0, 0, 0) 0.88%,
    #d9d9d9 24.89%
  );
  border-radius: 0px;
  z-index: 2;
}
