.page {
  min-height: 100vh;
  padding-bottom: 150px;

  background-color: #ffffff;
}
.main-page__wrapper {
  position: relative;
  background-color: white;
  padding: 32px 16px 0;
  margin-top: -30px;
  border-radius: 24px 24px 0 0;
  z-index: 3;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 24px;
}

.main-page {
  &__progress {
    position: relative;
    border: 1px solid #e1e1e1;
    border-radius: 0 12px 0 12px;
    padding: 20px;
  }

  &__progress-label {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 4px;
  }

  &__progress-description {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
  }

  &__progress-tag {
    color: #0d8eb8;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 0 4px;
  }

  &__progress-list {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    margin: 25px 0 0;
  }

  &__progress-bar {
    position: relative;
    background-color: #cfe8f1;
    border-radius: 100px;
    height: 6px;
    overflow: hidden;
  }

  &__progress-item-label {
    font-size: 12px;
    color: #0d8eb8;
    margin: 0 0 4px;
  }

  &__progress-value {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0d8eb8;
  }

  &__progress-item {
    width: 100%;
  }

  &__progress-ico {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__adv {
    margin: 24px 0;

    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }
}

.swiper-pagination-bullet-active {
  background: #0d8eb8;
}
